body {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

/*--Top Menu-Story One--*/
.menu {
	background-color: #333434;
	position: fixed;
	width: 100%;
	height: 80px;
	top:0;
	margin: 0;
	z-index: 2;
}

/*Menu For Small Devices*/
.menu-bar {
	width: 40px;
	height: 40px;
	display: none;
}

/*From 900px The Menu Layout Changes to an menu-bar icon*/
@media (max-width: 900px){
	.menu-bar {
		display:block;
		position: fixed;
		z-index: 2;
		left: 85%;
	}
	.menu {
		display: none;
	}
	.menuint {
		display: none;
	}
}

/* Styling the whole Menu*/
.menuint {
	height: 80px;
	width: 100%;
	max-width: 850px;
	margin: auto;
}

.menuint ul {
	list-style: none;
	padding: 0;
	margin: auto;
	height: 80px;
}

.menuint li {
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	height: 80px;
	line-height: 80px;
}

.menuint li a {
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	border: 1px solid rgb(199, 186, 186);
	margin-left: 16px;
	padding: 12px 30px;
}

.menuint li a:active {
	background-color: grey;
}

.menuint li a:hover {
	background-color: grey;
}


/*--Hero Image-Story Two--*/
.hero-home {
	background-image: url("images/bg-1.jpg");
	height: 98%;
	width: 100%;
	background-position: center;
 	background-size: cover;
  	position: relative;
  	background-attachment: fixed;
}
/*Small Devices*/
@media (max-width:700px){
	.hero-home {
		height: 60%;
	}
}

.hero-text {
	text-align: center;
  	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text h1 {font-size: 5vw; text-shadow: 2px 2px black;}
.hero-text h3 {font-size: 2vw;}


/*--Third Story- 3 Boxes --*/
.bootstrap img, .responsive img, .paralax img {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.terceiro{
	width: 100%;
	max-width: 1200px;
	height: auto;
	/*background-color:red;*/
	margin: auto;
	padding: 10px 10px;
}

/* Thre side column*/
.box-conteiner {
	width: 100%;
	max-width: 1200px;
	height: 500px;
	margin-left: 20px;
	margin-top: 20px;
	/*background-color: seagreen;*/
}

.row img {
	width: 100%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 28%;
	height: 500px;
	background-color: hsla(0, 19%, 89%, 0.4);;
	float: left;
	margin-left: 20px;
	padding: 10px;
	text-align: center;
}
/*-Big Devices--*/
@media (max-width:950px){
	.row {
		width:45%;
		height: auto;
		float: left;
		margin: 20px;
		position: relative;
		left: 18%;
	}
}

/*---Two Side Conteiner---*/
.two-side-conteiner {
	width: 100%;
	max-width: 1200px;
	height: 600px;
	margin-left: 20px;
	margin-top: 20px;
	/* background-color: seagreen; */
}

.side img {
	width: 100%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.side {
	width: 44%;
	height: auto;
	background-color: hsla(0, 45%, 94%, 0.4);;
	float: left;
	margin-left: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
	padding: 10px;
	text-align: justify;
	position: relative;
	left:0.1%;
}

/*Small Devices for two side box*/
@media (max-width:980){
	.side {
		width: 55%;
		height: auto;
		float: left;
		margin-left: 30px;
		position: relative;
		left: 20%;
	}
}

/*The Fifth Story*/
/* #servicos {
	margin-top: 20px;
	margin-bottom: 35px;
	background-image: url("images/bg-2.jpg");
	height: 40%;
	background-position: center;
 	background-size: cover;
  	position: relative;
  	background-attachment: fixed;
} */

.hero-text h2 {font-size: 1.8em; text-shadow: 2px 2px grey;}
.hero-text p {font-size: 1.2em; text-shadow: 2px 2px grey;}

/*--4 Boxes --*/
.quatrobox {
	width: 100%;
	max-width: 1200px;
	height: auto;
	/*background-color: red;*/
	margin: auto;
}

.box {
	width: 20%;
	height: 500px;
	background-color: hsla(0, 47%, 91%, 0.4);
	float: left;
	margin-left: 20px;
	padding: 10px;
	text-align: center;
}

.box img {
	width: 100%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*Small Devices (Tablet)*/
@media (min-width:750px) and (max-width: 900px) {
	.quatrobox {
		margin: auto;
	}
	.box {
		width: 30%;
		float: left;
		margin-left: 25px;
		margin-bottom: 15px;
		position: relative;
		left: 15%;
		
	}

}
/*Only for devices with screen less than 700px*/
@media (max-width: 750px){
	.box {
		width: 45%;
		margin-bottom: 15px;
		position: relative;
		left: 22%;
	}
}

/* One big Column*/
.one-int img {
	width: 100%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.one-column {
	width: 100%;
	max-width: 1100px;
	height: 700px;
	margin: auto;
}

.one-int {
	width: 100%;
	height: 700px;
	margin: 20px;
	position: relative;
	right:0.01%;
}