body {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

.menu {
	background-color: #333434;
	position: fixed;
	width: 100%;
	height: 80px;
	top:0;
	margin: 0;
	z-index: 2;
}

.menuint {
	height: 80px;
	width: 100%;
	max-width: 850px;
	margin: auto;
}

.menuint ul {
	list-style: none;
	padding: 0;
	margin: auto;
	height: 80px;
}

.menuint li {
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	height: 80px;
	line-height: 80px;
}

.menuint li a {
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	border: 1px solid white;
	margin-left: 16px;
	padding: 12px 30px;
	
}

.menuint li a:active {
	background-color: grey;
}

.menuint li a:hover {
	background-color: grey;
}

.hero-home {
	background-image: url("images/bg-1.jpg");
	height: 98%;
	background-position: center;
 	background-size: cover;
  	position: relative;
  	background-attachment: fixed;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {font-size: 60px; text-shadow: 2px 2px black;}
.hero-text h3 {font-size: 25px;}

